@layer theme, base, components, utilities;
/* Don't include tailwind preflight (base style)*/
@import "tailwindcss/theme" layer(theme) prefix(dlf) source("./");
@import "tailwindcss/utilities" layer(utilities) prefix(dlf) source("./");

@import 'cascaderjs/styles/index.css';

.cascader-container {
    @apply dlf:w-fit dlf:min-w-24;
}

.cascader-container_menus {
    @apply dlf:z-50;
}

@layer components {
    .dlf-root-container {}

    
    .dlf-group {
        @apply dlf:relative dlf:px-2 dlf:py-1 dlf:rounded;
    }

    .dlf-group-collapse {
        @apply dlf:flex dlf:cursor-pointer dlf:hover:text-blue-500 dlf:transition-colors;
    }

    .dlf-ellipsis {
        @apply dlf:hidden;
    }

    .dlf-group-collapse .dlf-parenthesis:last-child {
        @apply dlf:hidden;
    }

    .dlf-group:not(.dlf-expanded) .dlf-group-collapse .dlf-parenthesis:last-child {
        @apply dlf:inline;
    }

    .dlf-group:not(.dlf-expanded) .dlf-group-body {
        @apply dlf:hidden;
    }

    .dlf-group:not(.dlf-expanded) .dlf-ellipsis {
        @apply dlf:inline;
    }

    .dlf-group:not(.dlf-expanded) .dlf-group-body + .dlf-parenthesis {
        @apply dlf:hidden;
    }
    

    .dlf-group-prefix {
        @apply dlf:flex dlf:gap-2;
    }
    
    
    .dlf-parenthesis {
        @apply dlf:font-extrabold;
    }
    
    
    .dlf-operator {
        @apply dlf:font-extrabold dlf:text-blue-700 dlf:cursor-pointer;
    }

    .dlf-not-operator {
        @apply dlf:text-red-700 dlf:cursor-auto;
    }


    .dlf-condition {
        @apply dlf:flex dlf:gap-2 dlf:items-center;
        @apply dlf:px-2 dlf:py-1 dlf:rounded;
    }
    
    .dlf-group-body {
        @apply dlf:flex dlf:flex-col dlf:pl-4 dlf:border-l-2 dlf:border-gray-200;
    }

    .dlf-group-body-conditions {
        @apply dlf:flex dlf:flex-col dlf:gap-1 dlf:my-2;
        @apply dlf:min-h-3; /* for easy interaction with sortablejs */
    }

    
    .dlf-icon-button {
        @apply dlf:inline-block dlf:rounded-full dlf:border;
        @apply dlf:aspect-square dlf:w-6;
        @apply dlf:flex dlf:justify-center dlf:items-center;
        @apply dlf:border-neutral-900 dlf:bg-neutral-900;
        @apply dlf:text-white dlf:font-semibold;
        @apply dlf:hover:text-neutral-900 dlf:active:text-neutral-800 dlf:hover:bg-transparent;
        @apply dlf:focus:outline-none dlf:focus:ring;
        @apply dlf:cursor-pointer;
    }

    .dlf-input {
        /* to mimick cascaderjs */
	      height: var(--cascader-container-height);
	      padding: var(--cascader-container-padding);
	      border-width: var(--cascader-container-border-width);
	      border-style: var(--cascader-container-border-style);
	      border-color: var(--cascader-container-border-color);
	      border-radius: var(--cascader-container-border-radius);
	      background-color: var(--cascader-background-color);
    }

    .dlf-select {
        @extend .dlf-input;
        
        @apply dlf:truncate;
        @apply dlf:w-48;
    }

    

    .dlf-popup-menu {
        @apply dlf:absolute dlf:left-8 dlf:top-[10px];
        @apply dlf:w-fit;
        @apply dlf:rounded-r-md dlf:rounded-bl-md dlf:shadow-md dlf:bg-white;
        @apply dlf:z-50;
        
        > ul {
            @apply dlf:space-y-1;
            
            > li > a {
                @apply dlf:block dlf:px-4 dlf:py-2 ;
                @apply dlf:text-sm dlf:font-medium dlf:text-gray-500;
                @apply dlf:hover:bg-gray-100 dlf:hover:text-gray-700;
                @apply dlf:cursor-pointer;
            }
        }
    }

    /* Sortable */
    .dlf-sortable-ghost {
        @apply dlf:bg-blue-100;
    }
}
